# Optional. Leave blank if you do not use TqSdk shadow or startup backfill.
TQSDK_USER=your_tqsdk_user
TQSDK_PASSWORD=your_tqsdk_password
TQSDK_MD_URL=wss://free-api.shinnytech.com/t/nfmd/front/mobile
